[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=monitor_yinka_terminal
Comment=monitor_yinka_terminal
Exec=/usr/local/bin/scripts/check_yinka_terminal.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

