[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=monitor_bluetooth
Comment=monitor_bluetooth
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=true
Exec=/usr/local/bin/scripts/monitor_bluetooth_obexd.sh

